h1, h2{text-align: center;}

body {
  background-color: #121212;
  color: #ffb300;
  font-family: pixel;
  font-size:calc(15px + 0.5vw);
}
@font-face {
  font-family: pixel;
  src: url(assets/PixelOperator.ttf);
  font-display: swap;
}

img {
  margin: 0 auto;
  position: relative;
  image-rendering: crisp-edges;}

figure {
  margin: 0;
  text-align: center;
  width: 100%;
}

figcaption {
  margin-top: 4px;
  font-size: 0.9em;
  color: #ffc12f;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


@media screen and (max-width: 700px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
